.skilsTitle {
  font-size: 70px;
  color: white;
  text-align: center;
}
.color {
  background-image: linear-gradient(to left top, #995c0c, #ae550f, #c3491c, #d8372d, #eb1242);
}
.skilsText {
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 2rem;
}

.logoBackground {
  background-image: linear-gradient(to left top, #995c0c, #ae550f, #c3491c, #d8372d, #eb1242);
  height: 910px;
}

.logoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;
}

.devLogo {
  height: 150px;
  width: 150px;
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.nameLogo {
  color: white;
  margin-left: 7.3rem;
  font-size: 20px;
}

.devLogo:hover {
  transform: translate(-10px, -10px);
  box-shadow: 5px 10px 8px rgb(48, 48, 48);
  border-radius: 32px;
}
