.skillsTitle {
  font-size: 70px;
  color: white;
  text-align: center;
}
.color {
  background-image: linear-gradient(to left top, #995c0c, #ae550f, #c3491c, #d8372d, #eb1242);
}
.skillsText {
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 2rem;
}

.logoBackground {
  background-image: linear-gradient(to left top, #995c0c, #ae550f, #c3491c, #d8372d, #eb1242);
  height: 910px;
}

.logoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;
}

.devLogo {
  height: 150px;
  width: 150px;
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.nameLogo {
  color: white;

  text-align: center;
  font-size: 20px;
}

.devLogo:hover {
  transform: translate(-10px, -10px);
  box-shadow: 5px 10px 8px rgb(48, 48, 48);
  border-radius: 32px;
}

@media (max-width: 425px) {
  .skillsTitle {
    font-size: 50px;
  }

  .skillsText {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .logoBackground {
    height: fit-content;
  }

  .logoContainer {
    margin-top: 2rem;
  }

  .devLogo {
    height: 75px;
    width: 75px;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .nameLogo {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .skillsTitle {
    font-size: 50px;
  }

  .skillsText {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .logoBackground {
    height: fit-content;
  }

  .logoContainer {
    margin-top: 2rem;
  }

  .devLogo {
    height: 75px;
    width: 75px;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .nameLogo {
    font-size: 15px;
  }
}
